/* 
 * Styles to apply to entire DOM
 */

/* dark mode autocomplete menu tweaks ------------------------------ */
.ace_editor.ace_autocomplete.ace_dark {
	background-color: #141414 !important;
	color: white !important;
	border-color: gray !important;
	color-scheme: dark;
}

.ace_editor.ace_autocomplete.ace_dark .ace_marker-layer .ace_active-line {
	background-color: hsl(223, 30%, 19%) !important;
}

.ace_editor.ace_autocomplete.ace_dark .ace_line .ace_completion-highlight {
	color: hsl(214deg 100% 66%);
}
